.advantages {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.advantages__wrapper {
  margin: 0 20px;
  padding-top: 31px;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin: 0 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 51px 100px 0;
  }
}

.advantages__title {
  .level-2-title();
  margin: 0 0 28px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }


  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.advantages__list {
  .list-reset();
  .outline();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a b"
      "c d"
      "e f";
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  min-height: 105px;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }

  .outline();
}

.advantages__text {
  margin-top: auto;
  line-height: 20px;
  font-weight: bold;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__item--ecology {
  background-image: url("../../img/advantages/icon-ecology.svg");
  background-size: 33px 38px;
  background-repeat: no-repeat;
  background-position: 10px 15px;

  @media (min-width: @tablet-width) {
    grid-area: a;
  }
}

.advantages__item--price {
  background-image: url("../../img/advantages/icon-price.svg");
  background-size: 47px 27px;
  background-repeat: no-repeat;
  background-position: 10px 15px;

  @media (min-width: @tablet-width) {
    grid-area: c;
  }
}

.advantages__item--likable {
  background-image: url("../../img/advantages/icon-likes.svg");
  background-size: 34px 27px;
  background-repeat: no-repeat;
  background-position: 10px 15px;

  @media (min-width: @tablet-width) {
    grid-area: e;
  }
}

.advantages__item--handmade {
  background-image: url("../../img/advantages/icon-love.svg");
  background-size: 35px 34px;
  background-repeat: no-repeat;
  background-position: 10px 15px;

  @media (min-width: @tablet-width) {
    grid-area: b;
  }
}

.advantages__item--support {
  background-image: url("../../img/advantages/icon-producer.svg");
  background-size: 55px 23px;
  background-repeat: no-repeat;
  background-position: 10px 15px;

  @media (min-width: @tablet-width) {
    grid-area: d;
  }
}

.advantages__item--presentable {
  background-image: url("../../img/advantages/icon-gift.svg");
  background-size: 33px 32px;
  background-repeat: no-repeat;
  background-position: 10px 15px;

  @media (min-width: @tablet-width) {
    grid-area: f;
  }
}
