.contact-info {
  width: 100%;
  margin: 0;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
  }
}

.contact-info__wrapper {
  margin: 0 20px;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    min-height: 457px;
    margin: 0 50px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-areas:
      "a b"
      "c b";
  }
}

.contacts {
  grid-area: a;
  padding: 38px 0 62px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    "a a"
    "b c"
    "d e";

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 38px 53px 62px;
    grid-template-columns: 11% 39% 11% 39%;
    grid-template-areas:
      "a a a a"
      "b c d e";
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 45% 55%;
    grid-template-rows: min-content;
    grid-template-areas:
      "a a"
      "b c"
      "d e"
      "f f";

    padding-left: 0;
    padding-right: 20px;
  }
}

.contacts__title {
  grid-area: a;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    position: relative;
    font-size: 43px;
    line-height: 81px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 85%;
      bottom: 0;
      width: 47px;
      height: 81px;
      background-image: url("../../img/contacts/flag.svg.png");
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 125px;
    margin-bottom: 36px;
    font-size: 53px;
    line-height: 57px;

    &::after {
      left: 14px;
      bottom: -3px;
    }
  }
}

.contacts p:first-of-type {
  grid-area: b;

  @media (min-width: @desktop-width) {
    text-align: right;
    padding-right: 23px;
  }
}

.contacts__text--email {
  grid-area: c;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: @aquamarin-hover;
  }

  &:active {
    span {
      border-bottom: 2px solid hsla(171, 50%, 52%, 0.1);
    }
  }

  span {
    padding-bottom: 5px;
    border-bottom: 2px solid @aquamarin;
  }
}

.contacts p:nth-of-type(2) {
  grid-area: d;

  @media (min-width: @desktop-width) {
    padding-left: 100px;
    text-align: right;
    padding-right: 24px;
    padding-top: 28px;
  }
}

.contacts__text--address {
  grid-area: e;
  font-style: normal;

  @media (min-width: @desktop-width) {
    padding-top: 28px;
  }
}

.contacts__text {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.map {
  position: relative;
  margin-bottom: 42px;

  @media (min-width: @desktop-width) {
    grid-area: b;
    margin-bottom: 0;
  }
}

.map__img {
  width: 100%;
  margin: 0;
}

.map__pin {
  position: absolute; // Как точно закрепить пин в нужной точке карты
  top: 30%;
  left: 45%;
}

.google-map {
  height: 454px;
  width: 100%;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    height: 457px;
  }

  @media (min-width: @desktop-width) {
    width: 92%;
  }
}

.contact-info__message {
  height: 52px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 30%;
  }

  @media (min-width: @desktop-width) {
    grid-area: c;
    width: 48%;
    margin-top: 24px;
    margin-left: 27%;
  }
}
