.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin-right: 27px;
  display: inline-block;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  margin-top: 5px;
  display: inline-block;
  width: 27px;
  height: 34px;

  border: none;

  background-image: url("../../img/copyright/htmlacademy.svg.svg");
  background-repeat: no-repeat;
  background-position: center;
}
