.form {
  margin: 0;
  .outline();
}

.form__wrapper {
  min-height: 180px;
  padding: 50px 0 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: @bg-grey;

  @media (min-width: @tablet-width) {
    min-height: 226px;
    margin-top: -80px;
    border-top: 1px solid @borders-gray;
    padding-bottom: 0;
    margin-bottom: 54px;

    &::after {
      content: "";
      position: relative;
      display: block;
      left: 0;
      bottom: -40px; // Почему здесь пришлось задавать отрицательную величину, а ноль не сработал?
      height: 24px;
      background-image: url("../../img/form/zigzag-fill-tablet.svg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 255px;
    margin-bottom: 0;

    &::after {
      height: 34px;
      background-image: url("../../img/form/zigzag-fill-desktop.svg.svg");
    }
  }

  .outline();
}

.form__title {
  .main-title();

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.form__intro {
  display: block;
  min-height: max-content;
  padding: 20px 20px 0;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 24px;
  color: #444444;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 61%;
    margin: 99px 23% 63px;
    padding: 0;
  }
}

.form__fieldset {
  margin: 10px 20px 0;
  padding: 0;
  padding-top: 20px;
  border: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 20px 50px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 97px;
  }

  .outline();
}

.form__fieldset--colors,
.form__fieldset--phone,
.form__fieldset--email {
  @media (min-width: @tablet-width) {
    background-color: @bg-grey;
  }
}

.form__fieldset--phone,
.form__fieldset--email {
  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.form__fieldset ::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: lightgray;
  text-overflow: ellipsis;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    line-height: 19px;
  }
}

.form__subtitle {
  display: inline-block;
  min-width: 63px;

  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;


  font-size: 17px;
  font-weight: bold;
  line-height: 17px;
  color: @aquamarin;
  background-color: #ffffff;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    width: 80%; // Как сделать, чтобы линия всегда заканчивалась в одном месте?
    height: 1px;

    left: 84px;
    top: 22px;
    background: @aquamarin;
  }

  @media (min-width: @tablet-width) {
    padding: 20px 10px;

    &::after {
      width: 0;
      height: 0;
    }
  }

  .outline();
}

.form__inputs-wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    display: grid;
    width: 100%;
  }
  .outline();
}

.form__inputs-wrapper label {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-height: 42px;
  cursor: pointer;

  padding: 12px 65px;
  margin-right: 0;
  margin-bottom: 15px;
  line-height: 18px;
  font-size: 17px;
  font-weight: bold;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 15px 0 0 80px;
    min-height: 52px;

    font-size: 19px;
    line-height: 19px;
  }
}

.form__inputs-wrapper--type {
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  label::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;

    left: 10px;
    bottom: 1px;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9098 2.51339C31.4935 2.51339 40.0418 10.9323 40.0418 21.2794C40.0418 31.6262 31.4935 40.0455 20.9098 40.0455C10.3261 40.0455 1.7778 31.6262 1.7778 21.2794C1.7778 10.9323 10.3261 2.51339 20.9098 2.51339Z' stroke='%23000000' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }

  input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9098 2.51339C31.4935 2.51339 40.0418 10.9323 40.0418 21.2794C40.0418 31.6262 31.4935 40.0455 20.9098 40.0455C10.3261 40.0455 1.7778 31.6262 1.7778 21.2794C1.7778 10.9323 10.3261 2.51339 20.9098 2.51339Z' stroke='%23444444' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.1934 13.2408C25.5748 13.2408 29.1265 16.7922 29.1265 21.1735C29.1265 25.5548 25.5748 29.1065 21.1934 29.1065C16.8122 29.1065 13.2604 25.5548 13.2604 21.1735C13.2604 16.7922 16.8122 13.2408 21.1934 13.2408Z' fill='%2362D1BA'/%3E%3C/svg%3E");
  }

  p:hover {
    label::before {
      background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9098 2.51339C31.4935 2.51339 40.0418 10.9323 40.0418 21.2794C40.0418 31.6262 31.4935 40.0455 20.9098 40.0455C10.3261 40.0455 1.7778 31.6262 1.7778 21.2794C1.7778 10.9323 10.3261 2.51339 20.9098 2.51339Z' stroke='%2362D1BA' stroke-width='2'/%3E%3C/svg%3E");
    }

    input:checked + label::before {
      background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9098 2.51339C31.4935 2.51339 40.0418 10.9323 40.0418 21.2794C40.0418 31.6262 31.4935 40.0455 20.9098 40.0455C10.3261 40.0455 1.7778 31.6262 1.7778 21.2794C1.7778 10.9323 10.3261 2.51339 20.9098 2.51339Z' stroke='%2362D1BA' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.1934 13.2408C25.5748 13.2408 29.1265 16.7922 29.1265 21.1735C29.1265 25.5548 25.5748 29.1065 21.1934 29.1065C16.8122 29.1065 13.2604 25.5548 13.2604 21.1735C13.2604 16.7922 16.8122 13.2408 21.1934 13.2408Z' fill='%2362D1BA'/%3E%3C/svg%3E");
    }
  }

  p:active {
    label::before {
      background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9098 2.51339C31.4935 2.51339 40.0418 10.9323 40.0418 21.2794C40.0418 31.6262 31.4935 40.0455 20.9098 40.0455C10.3261 40.0455 1.7778 31.6262 1.7778 21.2794C1.7778 10.9323 10.3261 2.51339 20.9098 2.51339Z' stroke='%23000000' opacity='0.3' stroke-width='2'/%3E%3C/svg%3E");
    }

    input:checked + label::before {
      background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.9098 2.51339C31.4935 2.51339 40.0418 10.9323 40.0418 21.2794C40.0418 31.6262 31.4935 40.0455 20.9098 40.0455C10.3261 40.0455 1.7778 31.6262 1.7778 21.2794C1.7778 10.9323 10.3261 2.51339 20.9098 2.51339Z' stroke='%23000000' opacity='0.3' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.1934 13.2408C25.5748 13.2408 29.1265 16.7922 29.1265 21.1735C29.1265 25.5548 25.5748 29.1065 21.1934 29.1065C16.8122 29.1065 13.2604 25.5548 13.2604 21.1735C13.2604 16.7922 16.8122 13.2408 21.1934 13.2408Z' fill='%2362D1BA'/%3E%3C/svg%3E");
    }
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 20% 80%;
    grid-template-areas:
      "a b"
      "a c";

    h2 {
      grid-area: a;
      width: 168px;
    }

    label::before {
      width: 52px;
      height: 52px;

      background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.8884 2.87372C39.1193 2.87372 49.8137 13.3997 49.8137 26.346C49.8137 39.2919 39.1193 49.8182 25.8884 49.8182C12.6574 49.8182 1.96299 39.2919 1.96299 26.346C1.96299 13.3997 12.6574 2.87372 25.8884 2.87372Z' stroke='%23444444' stroke-width='2'/%3E%3C/svg%3E");
    }

    p {
      margin-top: 19px;
      margin-bottom: 19px;
      line-height: 52px;
    }

    p:first-of-type {
      grid-area: b;
    }

    p:nth-of-type(2) {
      grid-area: c;
    }

    input:checked + label::before {
      background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.8884 2.87372C39.1193 2.87372 49.8137 13.3997 49.8137 26.346C49.8137 39.2919 39.1193 49.8182 25.8884 49.8182C12.6574 49.8182 1.96299 39.2919 1.96299 26.346C1.96299 13.3997 12.6574 2.87372 25.8884 2.87372Z' stroke='%23444444' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.2395 16.3934C31.664 16.3934 36.0614 20.7903 36.0614 26.2148C36.0614 31.6392 31.664 36.0366 26.2395 36.0366C20.8151 36.0366 16.4177 31.6392 16.4177 26.2148C16.4177 20.7903 20.8151 16.3934 26.2395 16.3934Z' fill='%2362D1BA'/%3E%3C/svg%3E");
    }

    p:hover {
      label::before {
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.8884 2.87372C39.1193 2.87372 49.8137 13.3997 49.8137 26.346C49.8137 39.2919 39.1193 49.8182 25.8884 49.8182C12.6574 49.8182 1.96299 39.2919 1.96299 26.346C1.96299 13.3997 12.6574 2.87372 25.8884 2.87372Z' stroke='%2362D1BA' stroke-width='2'/%3E%3C/svg%3E");
      }

      input:checked + label::before {
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.8884 2.87372C39.1193 2.87372 49.8137 13.3997 49.8137 26.346C49.8137 39.2919 39.1193 49.8182 25.8884 49.8182C12.6574 49.8182 1.96299 39.2919 1.96299 26.346C1.96299 13.3997 12.6574 2.87372 25.8884 2.87372Z' stroke='%2362D1BA' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.2395 16.3934C31.664 16.3934 36.0614 20.7903 36.0614 26.2148C36.0614 31.6392 31.664 36.0366 26.2395 36.0366C20.8151 36.0366 16.4177 31.6392 16.4177 26.2148C16.4177 20.7903 20.8151 16.3934 26.2395 16.3934Z' fill='%2362D1BA'/%3E%3C/svg%3E");
      }
    }

    p:active {
      label::before {
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.8884 2.87372C39.1193 2.87372 49.8137 13.3997 49.8137 26.346C49.8137 39.2919 39.1193 49.8182 25.8884 49.8182C12.6574 49.8182 1.96299 39.2919 1.96299 26.346C1.96299 13.3997 12.6574 2.87372 25.8884 2.87372Z' stroke='%23000000' opacity='0.3' stroke-width='2'/%3E%3C/svg%3E");
      }

      input:checked + label::before {
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.8884 2.87372C39.1193 2.87372 49.8137 13.3997 49.8137 26.346C49.8137 39.2919 39.1193 49.8182 25.8884 49.8182C12.6574 49.8182 1.96299 39.2919 1.96299 26.346C1.96299 13.3997 12.6574 2.87372 25.8884 2.87372Z' stroke='%23000000' opacity='0.3' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.2395 16.3934C31.664 16.3934 36.0614 20.7903 36.0614 26.2148C36.0614 31.6392 31.664 36.0366 26.2395 36.0366C20.8151 36.0366 16.4177 31.6392 16.4177 26.2148C16.4177 20.7903 20.8151 16.3934 26.2395 16.3934Z' fill='%2362D1BA'/%3E%3C/svg%3E");
      }
    }
  }
}

.form__inputs-wrapper--colors {
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  label::before {
    content: "";
    position: absolute;
    width: 42px;
    min-height: 42px;

    left: 10px;
    bottom: 1px;
    background-image: url("../../img/form/Checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  input:checked + label::before {
    background-image: url("../../img/form/Checkbox_active.svg");
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 20% 40% 40%;
    grid-template-areas:
      "a b c"
      "a d e"
      "a f k";

    h2 {
      grid-area: a;
      width: 168px;
      background-color: @bg-grey;
    }

    p {
      margin-top: 19px;
      margin-bottom: 19px;
    }

    label::before {
      width: 52px;
      height: 52px;
      background-image: url("../../img/form/Checkbox-tablet.svg");
    }

    input:checked + label::before {
      background-image: url("../../img/form/Checkbox-tablet_active.svg");
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 20% 25% 25% 30%;
    grid-template-areas:
      "a b c d"
      "a e f k";
  }
}

.form__inputs-wrapper--username {
  padding-top: 0;

  label {
    padding: 0;
    margin: 0;
    margin-top: 22px;
    height: 20px;
  }

  p {
    width: inherit;
    padding-left: 10px;
  }

  input {
    display: block;
    padding: 0;
    height: 35px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #444444;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 20% 80%;
    grid-template-areas:
      "a b"
      "a c"
      "a d";

    h2 {
      grid-area: a;
      width: 168px;
    }

    p {
      display: flex;
      width: 100%;
      box-sizing: border-box;
    }

    label {
      margin-right: 25px;
      margin-top: 33px;
      font-size: 19px;
    }

    input {
      margin-top: 27px;
    }
  }
}

.form__inputs-wrapper--phone,
.form__inputs-wrapper--email {
  margin-top: 35px;

  p {
    width: inherit;
    padding-left: 10px;
  }

  input {
    position: relative;
    padding: 0;
    margin-top: 20px;
    height: 35px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #444444;
    background-color: @bg-grey;

    font-family: inherit;
    font-size: inherit;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 20% 80%;
    grid-template-areas: "a b";

    h2 {
      grid-area: a;
      width: 168px;
      background-color: @bg-grey;
    }

    p {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.form__inputs-wrapper--email {
  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.form__inputs-wrapper--phone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 24px;

  right: 3%;
  bottom: 7px;
  background-image: url("../../img/form/phone.svg.svg");

  @media (min-width: @tablet-width) {
    right: 2%;
    bottom: 53px;
  }
}

.form__inputs-wrapper--email::after {
  content: "";
  position: absolute;
  width: 32px;
  min-height: 21px;

  right: 3%;
  bottom: 7px;
  background-image: url("../../img/form/mail.svg.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    right: 2%;
    bottom: 53px;
  }
}


.form__inputs-wrapper--requirements {
  margin-top: 35px;

  textarea {
    display: block;
    box-sizing: border-box;
    height: 180px;
    width: 100%;
    padding: 17px;
    resize: none;

    font-family: inherit;
    font-size: inherit;
    border: 2px solid #444444;
  }

  .form__legend {
    display: block;
    margin-top: 17px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 16px;
  }

  .form__submit {
    width: 100%;
    height: 52px;
    margin: 0 0 36px;
    padding: 12px 0;
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;

    h2 {
      width: 20%;
    }

    textarea {
      font-size: 18px;
      width: 70%;
      margin: 12px 0 53px auto;
    }

    .form__legend {
      font-size: 17px;
      order: 4;
      margin-left: auto;
    }

    .form__submit {
      width: 230px;
      order: 3;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-areas:
      "a b b"
      "e c d";

    h2 {
      grid-area: a;
      width: 168px;
    }

    textarea {
      grid-area: b;
      font-size: 18px;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    .form__legend {
      grid-area: d;
    }

    .form__submit {
      grid-area: c;
    }
  }
}
