.main-nav {
  position: relative;
  min-height: 79px;
  width: 320px;
  margin: 0 auto;

  .outline();
}

.main-nav__wrapper {
  display: none;

  .outline();
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  background-image: url("../../img/page-header/menu.svg.svg");
  width: 20px;
  height: 14px;

  .button-reset();

  .outline();
}

// @media (min-width: @tablet-width) {
//   .main-nav {
//     width: auto;
//     margin: 0;
//   }

//   .main-nav__wrapper {
//     display: flex;
//     justify-content: space-between;
//     width: 668px;
//     margin: 0 auto;
//   }

//   .main-nav__toggle {
//     display: none;
//   }

//   .main-nav__list {
//     .list-reset();
//   }

//   .main-nav__item {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//   }
// }

// @media (min-width: @desktop-width) {
//   .main-nav__wrapper {
//     width: 1047px;
//   }
// }
