.main-nav {
  min-height: 79px;
  margin: 0 20px;

  .outline();
}

.main-nav__wrapper {
  margin-top: 79px;
  border-top: 1px solid @borders-gray;

  @media (max-width: @mobile-width-only) {
    .visually-hidden();
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;

    margin-top: 0;
    border: none;
  }

  .outline();
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  background-image: url("../../img/page-header/menu.svg.svg");
  width: 20px;
  height: 14px;

  cursor: pointer;
  .button-reset();

  @media (min-width: @tablet-width) {
    flex-direction: row;
    display: none;
  }

  .outline();
}

.main-nav__toggle--open {
  width: 20px;
  height: 14px;
  background-image: url("../../img/page-header/menu.svg.svg");
}

.main-nav__toggle--close {
  width: 21px;
  height: 20px;
  background-image: url("../../img/page-header/menu-close.svg.svg");
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// // .site-list {

// // }

// .site-list__item {
//   width: 100%;
//   height: 79px;
//   border-bottom: 1px solid lightgray;
// }

// .site-list__link {
//   display: block;
//   width: 100%;
//   height: 79px;
//   padding-left: 20%;
//   line-height: 79px;

//   font-weight: bold;
//   text-decoration: none;
//   color: #000000;
// }

// .site-list__item:nth-of-type(6) {
//   background-image: url("../../img/main-nav/search.svg.svg");
//   background-repeat: no-repeat;
//   background-position: 10% 50%;
//   background-size: 18px 18px;
// }

// .site-list__item:nth-of-type(7) {
//   background-image: url("../../img/main-nav/cart.svg.svg");
//   background-repeat: no-repeat;
//   background-position: 10% 50%;
//   background-size: 21px 18px;
// }

