.page-header {
  position: relative;
  margin: 0;

  .outline();
}

.page-header__logo {
  position: absolute;
  top: 22px;
  left: 45%;
  z-index: 10;

  @media (min-width: @tablet-width) {
    left: 51px;
    display: inline-block;
  }

  @media (min-width: @desktop-width) {
    left: 45%;
  }

  .outline();
}

.page-header__logo-image {
  width: 86px;
  height: 35px;

  @media (min-width: @tablet-width) {
    width: 112px;
    height: 46px;
  }

  .outline();
}
