.page-footer {
  margin: 0;
  width: 100%;
}

.page-footer__wrapper {
  margin: 0;
  background-color: #f1f1f1;

  @media (min-width: @tablet-width) {
    min-height: 143px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__social {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-left: 50px;
  }
}

.page-footer__logo-image {
  display: inline-block;
  color: #000000;

  &:hover {
    color: @aquamarin-hover;
  }

  &:active {
    opacity: 0.3;
  }
}
