.page-header {
  position: relative;
  /*min-height: ;*/
  display: flex;
  flex-direction: column;

  .outline();
}

.page-header__logo {
  position: absolute;
  top: 22px;
  left: 38%;

  .outline();
}

.page-header__logo-image {
  width: 86px;
  height: 35px;

  .outline();
}

// @media (min-width: @tablet-width) {
//   .page-header {
//     flex-direction: row;
//   }

//   .page-header__logo {
//     left: 51px;
//   }

//   .page-header__logo-image {
//     background-image: url("/img/logo-tablet.svg");
//     width: 112px;
//     height: 46px;
//   }
// }

// @media (min-width: @desktop-width) {
//   .page-header__logo {
//     top: 9px;
//     left: 50%;
//     height: 88px;
//   }

//   .page-header__logo-image {
//     background-image: url("/img/mishka-logo-desktop-svg.svg");
//     width: 149px;
//     height: 72px;
//   }
// }
