.products-catalog {
  margin: 30px 20px 0;
  .outline();
}

.products-catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 51px;
  }

  .outline();
}

.products-catalog__item {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid lightgray;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    grid-template-areas:
      "a b"
      "a c"
      "a d";

    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }

  .outline();
}
