.products {
  margin: 0;
  min-height: 568px;

  display: flex;
  flex-direction: column;

  background-image: url("../../img/products/hero-mobile-1@1x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/products/hero-mobile-1@2x.png");
  }

  @media (min-width: @tablet-width) {
    min-height: 746px;
    margin-top: -80px;
    border-top: 1px solid @borders-gray;
    background-image: url("../../img/products/hero-tablet-1@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/products/hero-tablet-1@2x.png");
    }

    &::after {
      content: "";
      position: relative;
      display: block;
      left: 0;
      bottom: 0;
      height: 24px;
      background-image: url("../../img/products/zigzag-fill-desktop.svg.svg");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 746px;
    background-image: url("../../img/products/hero-desktop-1@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/products/hero-desktop-1@2x.png");
    }
  }

  .outline();
}

.products__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 568px;
  margin: 0;

  @media (min-width: @tablet-width) {
    min-height: 746px;
  }

  .outline();
}

.products__title {
  width: 260px;
  min-height: 89px;
  margin: 77px auto 0;

  .main-title();
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 150px;
    width: 668px;
    font-size: 43px;
    line-height: 57px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 50px;
  }

  .outline();
}

.products__list {
  width: 100%;
  list-style-type: none;
  margin: auto 0 0;
  padding-inline-start: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 87%;
    margin: auto auto -24px;
  }
}

.products__item {
  width: 100%;
  min-height: 103px;

  @media (min-width: @tablet-width) {
    display: inline-block;
    width: 50%;
    min-height: 127px;
  }

  &:hover {
    min-height: 107px;
    transform: translateY(-5px);
  }
}

.products__item--interior {
  background-color: @seafoam-blue;
  background-image: url("../../img/products/interior.svg.svg");
  background-size: 40px 62px;
  background-position: right 20% top 50%;
  background-repeat: no-repeat;

  &:hover {
    background-color: #59d5bc;
  }
}

.products__item--toys {
  background-color: @mishka-color;
  background-image: url("../../img/products/toy-svg.svg");
  background-size: 60px 60px;
  background-position: right 20% top 50%;
  background-repeat: no-repeat;

  &:hover {
    background-color: @aquamarin-hover;
  }
}

.products__link {
  box-sizing: border-box;

  text-decoration: none;
  display: block;
  padding-top: 25px;
  padding-left: 15%;
  width: 100%;
  height: 103px;
}

.products__text {
  width: 130px;
  height: 48px;

  color: #ffffff;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}
