.product-card {
  border: 1px solid @borders-gray;
  text-align: start;

  .outline();
}

.product-card__image {
  width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    grid-area: a;
    min-height: 334px;
  }

  @media (min-width: @desktop-width) {
    min-height: 462px;
  }
}

.product-card__title {
  margin: 28px 5px 6px 28px;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    grid-area: b;
    height: max-content;
    font-size: 20px;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  .outline();
}

.product-card__description {
  margin: 0 5px 17px 28px;
  font-size: 13px;

  @media (min-width: @tablet-width) {
    grid-area: c;
    height: max-content;
    font-size: 15px;
    line-height: 30px;
  }

  .outline();
}

.product-card__wrapper {
  display: flex;
  margin: 0 28px 26px;
  border-top: 1px solid lightgray;
  padding-top: 23px;

  @media (min-width: @tablet-width) {
    grid-area: d;
    margin-top: auto;
  }

  .outline();
}

.product-card__price {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.product-card__icon-cart {
  position: absolute;
  top: 10%;
  right: 5%;
  color: #000000;
  opacity: 0.2;
}

.product-card__add {
  position: relative;
  width: 30%;
  margin-left: auto;

  &:hover {
    .product-card__icon-cart {
      color: @seafoam-blue;
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.6;
  }
}
