.production {
  margin: 30px 20px 58px;
  padding: 21px 0 33px;
  border: 1px solid @borders-gray;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: max-content;
    grid-template-areas:
      "a b"
      "a c";

    padding-bottom: 0;

    &:hover {
      box-shadow: 3px 7px 10px rgba(236, 236, 236, 0.8), -3px 0 5px rgba(236, 236, 236, 0.8), -0 3px 10px #ffffff;
    }
  }

  .outline();
}

.production__title {
  position: relative;
  font-size: 17px;
  margin: 22px 5px 27px 91px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    order: -2;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-area: b;
    margin: 96px 57px 0 79px;

    br {
      display: inline-block;
    }
  }

  .outline();
}

.production__title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 22px;
  left: -55px;
  top: 0;
  background-image: url("../../img/production/video.svg.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @desktop-width) {
    left: 0;
    top: -50px;
  }
}

.production__video {
  position: relative;

  @media (min-width: @tablet-width) {
    order: -3;
  }

  @media (min-width: @desktop-width) {
    grid-area: a;
  }
}

.production__img {
  position: relative;
  width: 100%;
  height: auto;
}

.production__play-button {
  position: absolute;
  left: 43%;
  top: 40%;
  cursor: pointer;

  &:hover {
    left: 41%;
    top: 38%;

    width: 121px;
    height: 92px;
  }

  &:active {
    left: 38%;
    top: 42%;

    width: 181px;
    height: 62px;
  }
}

.production__details {
  @media (min-width: @desktop-width) {
    grid-area: c;
    display: flex;
    flex-direction: column;
  }
}

.production__description {
  font-size: 13px;
  font-weight: 24px;
  margin: 35px 0 41px 34px;

  @media (min-width: @tablet-width) {
    order: -1;
    margin: 0 34px 41px;
    font-size: 15px;
  }

  @media (min-width: @desktop-width) {
    grid-area: c;
    margin: 28px 57px 0 79px;
    font-size: 15px;
    font-weight: 30px;
    line-height: 30px;
  }
}

.production__order {
  height: 52px;
  margin: 0 34px 0;
  padding: 12px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    order: 0;
    max-width: 50%;
    margin: 0 auto 0;
  }

  @media (min-width: @desktop-width) {
    margin: auto 57px 60px 79px;
  }
}
