.product-card {
  display: flex;
  flex-direction: column;
}

// .product-card__image {
// }

.product-card__title {
  margin: 28px 5px 6px 28px;
  font-size: 17px;
  line-height: 24px;
}

.product-card__description {
  margin: 0 5px 17px 28px;
  font-size: 13px;
}

.product-card__wrapper {

  display: flex;
  margin: 0 28px 26px;
  border-top: 1px solid lightgray;
  padding-top: 23px;
}

.product-card__price {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;

}

.product-card__add {
  width: 20px;
  height: 19px;
  margin-left: auto;

  background-image: url("../../img/catalog/cart.svg.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
