.production {
  display: flex;
  flex-direction: column;
  margin: 30px 20px 58px;
  padding: 21px 0 33px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;

  .outline();
}

.production__title {
  position: relative;
  font-size: 17px;
  margin: 22px 5px 27px 91px;
  .outline();
}

.production__title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 22px;
  left: -55px;
  top: 0;
  background-image: url("../../img/production/video.svg.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.production__video {
  position: relative;
  width: 100%;
  min-height: 150px;
  background-image: url("../../img/production/video-mobile1.png");
  background-position: center;
  background-size: cover;
}

.production__video::after {
  content: "";
  position: absolute;
  width: 32%;
  min-height: 77px;
  left: 35%;
  top: 25%;
  background-image: url("../../img/production/play.svg.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.production__description {
  font-size: 13px;
  font-weight: 24px;
  margin: 35px 0 41px 34px;
}

.production__order {
  height: 52px;
  margin: 0 34px 0;
  padding: 12px 0;
  text-align: center;
}
