.reviews {
  margin: 0 20px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    min-height: 457px;
    margin-top: 90px;
    padding-bottom: 0;
  }

  .outline();
}

.reviews::after {
  content: "";
  position: relative;
  display: block;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 6px;
  background-image: url("../../img/featured-product/zigzag-line-desktop.svg");

  @media (min-width: @tablet-width) {
    height: 17px;
  }
}

.reviews__wrapper {
  margin: 0;
  padding-top: 58px;

  @media (min-width: @tablet-width) {
    padding: 58px 50px 0;

    background-image: url("../../img/reviews/review-tablet-1@1x.png");
    background-size: 350px 457px;
    background-position: left;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a b"
      "c c"
      "d e";

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/reviews/review-tablet-1@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 50px;
    padding-left: 174px;

    background-image: url("../../img/reviews/review-desktop-1@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/reviews/review-desktop-1@2x.png");
    }
  }

  .outline();
}

.reviews__item {
  margin: 0;
  padding: 0;
  .outline();
}

.reviews__item--contacts {
  @media (min-width: @tablet-width) {
    grid-area: d;
  }
}

.reviews__title {
  .level-2-title();
  margin: 0 0 14px;

  @media (min-width: @tablet-width) {
    grid-area: a;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__text {
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    grid-area: c;
    font-size: 17px;
  }
  .outline();
}

.reviews__author-name {
  display: block;
  font-weight: bold;
  font-style: normal;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
  }
}

.reviews__author-nickname {
  line-height: 30px;
}

.reviews__arrows {
  display: flex;
  height: 52px;
  margin: 30px 0 38px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    grid-area: e;
    width: 50%;
    margin: 30px 0 38px auto;
  }
}

.reviews__arrow {
  width: 50%;
  border: 1px solid #ececec;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    border: none;
  }

  &:hover {
    .reviews__arrow-svg {
      opacity: 0.6;
    }
  }

  &:active {
    .reviews__arrow-svg {
      opacity: 0.3;
    }
  }

  .outline();
}

.reviews__send {
  height: 52px;
  line-height: 50px;
  margin: 0 auto 45px;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-area: b;
    width: 50%;
    margin: 0 0 45px auto;
  }
}
