.social {
  width: 260px;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 142px;
  height: 28px;
  margin: 0;
  padding: 0;

  list-style: none;

  .outline();
}

.social__item {
  width: 28px;
  height: 28px;
  .outline();
}

.social__link {
  display: block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: #000000;

  &:hover {
    color: @aquamarin-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--instagram,
.social__link--twitter .social__img {
  margin-top: 3px;
}
